@model OdeToFeed.ViewModels.HomeIndexViewModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>@Model.CurrentMessage</h1>
    <table>
        @foreach (var restaurant in Model.Restaurants)
        {
        <tr>
            <td>@restaurant.Id</td>
            <td>@restaurant.Name</td>
            <td>
                <a href="/home/details/@restaurant.Id">Details</a>
                @Html.ActionLink("Go", "Details", new { id = restaurant.Id})
            </td>
        </tr>
        }

    </table>
    <a asp-action="Create">Add Restaurant</a>
</body>
</html>
